<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body class="pagebg">
  <div class="h-screen w-screen bg-[#000000a6] flex flex-col">
    <%- include("../components/navBar.ejs"); %>
    <% console.log(user); %>
    <% if(user.cart.length == 0) { %>
    <div class="h-full w-full flex items-center justify-center text-white text-3xl">
      Your cart is empty
    </div>
    <% } else { %>
    <div class="w-full flex gap-4 flex-wrap justify-center md:justify-start px-4 py-5 md:px-20 md:py-10">
      <% user.cart.forEach(product => { %>
      <a href="/product/<%= product.id %>">
        <!-- each product -->
        <div class="card w-32 md:w-48 flex flex-col bg-gray-200 cursor-pointer rounded-md overflow-hidden">
          <!-- the image of the product -->
          <img class="h-32 w-32 md:h-48 md:w-48 object-contain bg-white transition-all" src=<%= product.imageUrl%> alt="">
          <!-- the name and price of the product -->
          <div class="flex flex-col whitespace-nowrap p-2">
            <h4 class="text-sm font-bold overflow-hidden"><%=product.companyName%></h4>
            <h4 class="text-xs overflow-hidden"><%=product.name%></h4>
            <h4 class="text-sm font-bold text-right price-text transition-all">&#8377;<%=product.price%></h4>
          </div>
        </div>
      </a>
      <% }); %>
    </div>
    <button class="absolute bottom-10 right-10 bg-gray-200 block px-5 py-3 rounded-md font-semibold text-gray-700 hover:bg-orange-400 hover:text-gray-200 transition-all">Buy Now</button>
    <% } %>
  </div>
  <script src="https://kit.fontawesome.com/885853d9e4.js" crossorigin="anonymous"></script>

</body>

</html>