<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>

  <link rel="stylesheet" href="/styles.css">
  <script src="./scripts/navBar.js" defer></script>
</head>

<!-- the image background -->

<body class="pagebg">
  <!-- the content on the screen and also to dim the background image -->
  <div class="h-screen w-screen bg-[#000000a6] flex flex-col">
    <!-- the navigation bar -->
    <header id="nav-bar" class="px-10 pt-3 pb-4 flex justify-between items-center transition-all">
      <h1 class="text-white sm:text-2xl md:text-4xl cursor-default">upstore</h1>
      <ul class="flex gap-4">
        <a class="nav-item" href="">
          <i class="fa-solid fa-heart nav-items"></i>
          <li class="nav-items hidden sm:block">Wishlist</li>
        </a>
        <a class="nav-item" href="">
          <i class="fa-solid fa-cart-shopping nav-items"></i>
          <li class="nav-items hidden sm:block">Cart</li>
        </a>
        <a class="nav-item" href="">
          <i class="fa-solid fa-user nav-items"></i>
          <li class="nav-items hidden sm:block">Profile</li>
        </a>
      </ul>
    </header>
    <!-- the products -->
    <div id="content" class="scroll-bar overflow-y-scroll relative z-0">
      <div class="w-full flex gap-4 flex-wrap justify-center md:justify-start px-4 py-5 md:px-20 md:py-10">
        <% products.forEach(product => { %>
        <a href="/product/<%= product.id %>">
          <!-- each product -->
          <div class="card w-32 md:w-48 flex flex-col bg-gray-200 cursor-pointer rounded-md overflow-hidden">
            <!-- the image of the product -->
            <img class="grayscale h-32 w-32 md:h-48 md:w-48 object-contain bg-white transition-all" src=<%= product.imageUrl%> alt="">
            <!-- the name and price of the product -->
            <div class="flex flex-col whitespace-nowrap p-2">
              <h4 class="text-sm font-bold overflow-hidden"><%=product.companyName%></h4>
              <h4 class="text-xs overflow-hidden"><%=product.name%></h4>
              <h4 class="text-sm font-bold text-right price-text transition-all">&#8377;<%=product.price%></h4>
            </div>
          </div>
        </a>
        <% }); %>
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/885853d9e4.js" crossorigin="anonymous"></script>

</body>

</html>