<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>

  <link rel="stylesheet" href="/styles.css">
</head>

<body class="pagebg overflow-hidden">
  <!-- the content on the screen and also to dim the background image -->
  <div class="h-screen w-screen">
    <div class="h-screen w-screen bg-[#000000a6] flex flex-col md:flex-row overflow-y-scroll scroll-bar">
      <div class="h-[300px] mt-10 md:mt-0 md:h-screen md:w-[800px] flex items-center justify-center">
        <img class="h-[250px] max-w-[350px] md:hover:h-[400px] border-[6px] md:hover:border-0 md:border-black object-contain lg:-rotate-45 rounded-lg overflow-hidden lg:hover:rotate-0 transition-all duration-[150ms] cursor-pointer" src="<%= product.imageUrl %>" alt="">
      </div>
      <div class="mt-10 md:mt-0 md:h-screen w-full flex flex-col items-center justify-center md:items-start md:justify-center text-white box-border pr-0 md:pr-24 lg:pr-36 cursor-default">
        <h4><%= product.companyName %></h4>
        <h1 class="font-bold text-2xl md:text-5xl md:text-start"><%= product.name %></h1>
        <h1 class="font-bold text-lg md:text-3xl">&#8377;<%= product.price %></h1>
        <!-- add to wishlist, add to cart buttons -->
        <div class="mt-5 flex gap-2 items-center justify-center">
          <% if(isNotCart) { %>
          <form action="/add-to-cart/<%= product.id %>" method="POST">
            <% } else { %>
            <form action="/remove-from-cart/<%= product.id %>" method="POST">
              <% } %>
              <button type="submit" class="bg-gray-400 hover:bg-green-500 transition-all duration-[200ms] py-3 px-6 rounded-md flex items-center justify-center gap-2">
                <% if(isNotCart) { %>
                <i class="fa-solid fa-cart-shopping"></i>
                <h4 class="text-xs md:text-sm">Add to Cart</h4>
                <% } else { %>
                <i class="fa-solid fa-trash-can"></i>
                <h4 class="text-xs md:text-sm">Remove from Cart</h4>
                <% } %>
              </button>
            </form>
            <% if(isNotWishlisted) { %>
            <form action="/add-to-wishlist/<%= product.id %>" method="POST">
              <% } else { %>
              <form action="/remove-from-wishlist/<%= product.id %>" method="POST">
                <% } %>
                <button type="submit" class="bg-red-400 hover:bg-yellow-500 transition-all duration-[200ms] py-3 px-6 rounded-md flex items-center justify-center gap-2">
                  <% if(isNotWishlisted) { %>
                  <i class="fa-solid fa-heart"></i>
                  <h4 class="text-xs md:text-sm">Add to Wishlist</h4>
                  <% } else { %>
                  <i class="fa-solid fa-trash-can"></i>
                  <h4 class="text-xs md:text-sm">Remove from Wishlist</h4>
                  <% } %>
                </button>
              </form>
        </div>
        <h4 class="font-semibold text-lg mt-10">Description</h4>
        <h4 class="font-light px-10 md:px-0 text-center md:text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est aliquid modi quisquam, hic iure soluta quos animi voluptatum ducimus quasi ipsam voluptas alias beatae. Hic quia cum veniam aliquid, vero ad alias, itaque temporibus ullam dolorem sed placeat harum sit. Ullam exercitationem dignissimos impedit odio nemo est quas repellendus libero?</h4>
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/885853d9e4.js" crossorigin="anonymous"></script>
</body>

</html>